h1 {
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

a {
  color: hotpink;
}

.main {
  background-color:brown;
}

.edu {
  background-color: cadetblue;
}

.job {
  background-color: burlywood;
}

.job1, .job2, .job3 {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

body {
  margin: 30px;

}